
p {
    font-family: Roboto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.video-title {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
}

.views, .marques, .paragraph {
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.views {
    margin-bottom: 20px;
}

.marques {
    margin-bottom: 20px;
}

.paragraph {
    width: 300px;
    line-height: 20px;
    margin-bottom: 100px;
}

.apple-text {
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding: 18px 0;
}

.shopnow {
    margin-left: 10px;
}

.shopnow:hover {
    text-decoration: underline;
    cursor: pointer;
}

